*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
.header{
	background-image: url(../image/banner1.jpg);
	width: 100%;
	height: 600px; 
	
}

.head{
	text-align: center;
	font-family: sans-serif;
	color: orangered;
}
form{
	text-align: center;
	color: white;
	
}
.cut{
	text-align: center;
	color: whitesmoke;
}

input{
	border-radius: 10px;
	height: 28px;
	width: 13%;
	
}
.submit{
	width: 9%;
	height: 25px;
}
.submit:hover{
	color: blue;
	cursor: pointer;
	background-color: chartreuse;
}

